{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
    <div class="container my-3">
        <!-- 사용자오류 표시 -->
        {% if messages %}
            <div class="alert alert-danger fade show my-3" role="alert">
                {% for message in messages %}
                    <strong>{{ message.tags }}</strong>
                    <ul>
                        <li>{{ message.message }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
        <h2 class="border-bottom py-2">{{ question.subject }}</h2>
        <div class="row my-3">
            <div class="col-1">
                <!-- 추천영역 -->
                <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{ question.voter.count }}</div>
                <div class="btn-group d-flex">
                    {% if request.user in question.voter.all %}
                        <a href="#"
                           data-uri="{% url 'pybo:vote_question_delete' question.id  %}"
                           class="recommend-del btn btn-sm btn-secondary my-1">추천 취소</a>
                    {% else %}
                        <a href="#"
                           data-uri="{% url 'pybo:vote_question' question.id  %}"
                           class="recommend-add btn btn-sm btn-secondary my-1">추천</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-11">
                <!-- 질문영역 -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">{{ question.content|mark }}</div>
                        <div class="d-flex justify-content-end">
                            {% if question.modify_date %}
                                <div class="badge bg-light text-dark p-2 text-left mx-3">
                                    <div class="mb-2">수정</div>
                                    <span>총 수정 {{ question.questionedithistory_set.count }}회</span>
                                    <a type="button"
                                       class="small text-success"
                                       data-bs-toggle="modal"
                                       data-bs-target="#exampleModal">[수정내역 보기]</a>
                                    <div>{{ question.modify_date }}</div>
                                </div>
                            {% endif %}
                            <div class="badge bg-light text-dark p-2 text-left">
                                <div class="mb-2">작성</div>
                                <div>{{ question.author.username }}</div>
                                <div>{{ question.create_date }}</div>
                            </div>
                        </div>
                        {% if request.user == question.author %}
                            <div class="my-3">
                                <a href="{% url 'pybo:question_modify' question.id  %}"
                                   class="btn btn-sm btn-outline-success">수정</a>
                                <a href="#"
                                   class="delete btn btn-sm btn-outline-danger"
                                   data-uri="{% url 'pybo:question_delete' question.id  %}">삭제</a>
                            </div>
                        {% endif %}
                        <!-- 질문 댓글 Start -->
                        <hr>
                        {% if question.comment_set.count > 0 %}
                            <div class="mt-3">
                                <div class="row justify-content-between py-2 mx-0 my-3 bg-light">
                                    <div class="col-10 fs-5">
                                        <b>{{ question.comment_set.count }}</b>개의 댓글이 있습니다.
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control cmtsort">
                                            <option value="recent" {% if cmtsort == 'recent' %}selected{% endif %}>최신순</option>
                                            <option value="recommend" {% if cmtsort == 'recommend' %}selected{% endif %}>추천순</option>
                                        </select>
                                    </div>
                                </div>
                                {% for comment in question_comment_list %}
                                    <a name="comment_{{ comment.id }}"></a>
                                    <div class="py-2 mx-0 text-muted">
                                        <span style="white-space: pre-line;">{{ comment.content }}</span>
                                        <br>
                                        <div class="row border-bottom pb-1 mx-0 ">
                                            <div class="col-lg-9 col-md-12">
                                                <span class="fs-6">
                                                    {{ comment.author }}, {{ comment.create_date }}
                                                    {% if comment.modify_date %}
                                                        <span class="fw-light">
                                                            (수정: {{ comment.modify_date }} /
                                                            {{ comment.modify_count }}회 )
                                                        </span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="col-lg-3 col-md-12 justify-content-end text-end">
                                                {% if request.user == comment.author %}
                                                    <div class="btn-group">
                                                        <a href="{% url 'pybo:comment_modify_question' comment.id  %}"
                                                           class="btn btn-sm btn-outline-success">수정</a>
                                                        <a href="#"
                                                           class="btn  btn-sm btn-outline-danger delete"
                                                           data-uri="{% url 'pybo:comment_delete_question' comment.id  %}">삭제</a>
                                                    </div>
                                                {% endif %}
                                                {% if request.user in comment.voter.all %}
                                                    <a href="#"
                                                       data-uri="{% url 'pybo:vote_delete_comment' comment.id  %}?type=question"
                                                       class="recommend-del btn btn-sm btn-outline-secondary">추천 취소
                                                        <span class="badge text-bg-warning">{{ comment.voter.count }}</span></a>
                                                {% else %}
                                                    <a href="#"
                                                       data-uri="{% url 'pybo:vote_create_comment' comment.id  %}?type=question"
                                                       class="recommend-add btn btn-sm btn-outline-secondary">추천
                                                        <span class="badge text-bg-warning">{{ comment.voter.count }}</span></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div>
                                <a href="{% url 'pybo:comment_create_question' question.id  %}"
                                   class="small"><small>댓글 추가 ..</small></a>
                            </div>
                            <ul class="pagination justify-content-center">
                                <!-- 이전페이지 -->
                                {% if question_comment_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           data-cmtpage="{{ question_comment_list.previous_page_number }}"
                                           href="#">이전</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                    </li>
                                {% endif %}
                                <!-- 페이지리스트 -->
                                {% for page_number in question_comment_list.paginator.page_range %}
                                    {% if page_number >= question_comment_list.number|add:-3 and page_number <= question_comment_list.number|add:3 %}
                                        {% if page_number == question_comment_list.number %}
                                            <li class="page-item active" aria-current="cmtpage">
                                                <a class="page-link" data-cmtpage="{{ page_number }}" href="#">{{ page_number }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" data-cmtpage="{{ page_number }}" href="#">{{ page_number }}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <!-- 다음페이지 -->
                                {% if question_comment_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           data-cmtpage="{{ question_comment_list.next_page_number }}"
                                           href="#">다음</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <!-- 질문 댓글 End -->
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">최근 수정 내역</h1>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="accordion">
                                    {% for post in question.questionedithistory_set.all %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button collapsed"
                                                        type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapse_{{ forloop.counter0 }}"
                                                        aria-expanded="false"
                                                        aria-controls="collapse_{{ forloop.counter0 }}">
                                                    <div>
                                                        <div class="row">
                                                            <span class="text-success">{{ post.modified_date }}</span>
                                                        </div>
                                                        <div class="row">
                                                            <span>{{ post.previous_subject }}</span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="collapse_{{ forloop.counter0 }}"
                                                 class="accordion-collapse collapse"
                                                 data-bs-parent="#accordionExample">
                                                <div class="accordion-body">{{ post.previous_content }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
            {% for answer in question.answer_set.all %}
                <a name="answer_{{ answer.id }}"></a>
                <div class="row my-3">
                    <div class="col-1">
                        <!-- 추천영역 -->
                        <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{ answer.voter.count }}</div>
                        <div class="btn-group d-flex">
                            {% if request.user in answer.voter.all %}
                                <a href="#"
                                   data-uri="{% url 'pybo:vote_answer_delete' answer.id  %}"
                                   class="recommend-del btn btn-sm btn-secondary btn-block my-1">추천 취소</a>
                            {% else %}
                                <a href="#"
                                   data-uri="{% url 'pybo:vote_answer' answer.id  %}"
                                   class="recommend-add btn btn-sm btn-secondary btn-block my-1">추천</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-11">
                        <!-- 답변영역 -->
                        <div class="card">
                            <div class="card-body">
                                <div class="card-text">{{ answer.content|mark }}</div>
                                <div class="d-flex justify-content-end">
                                    {% if answer.modify_date %}
                                        <div class="badge bg-light text-dark p-2 text-left mx-3">
                                            <div class="mb-2">modified at</div>
                                            <div>{{ answer.modify_date }}</div>
                                        </div>
                                    {% endif %}
                                    <div class="badge bg-light text-dark p-2 text-left">
                                        <div class="mb-2">{{ answer.author.username }}</div>
                                        <div>{{ answer.create_date }}</div>
                                    </div>
                                </div>
                                {% if request.user == answer.author %}
                                    <div class="my-3">
                                        <a href="{% url 'pybo:answer_modify' answer.id  %}"
                                           class="btn btn-sm btn-outline-secondary">수정</a>
                                        <a href="#"
                                           class="delete btn btn-sm btn-outline-secondary "
                                           data-uri="{% url 'pybo:answer_delete' answer.id  %}">삭제</a>
                                    </div>
                                {% endif %}
                                <hr>
                                {% if answer.comment_set.count > 0 %}
                                    <div class="mt-3">
                                        {% comment %} {% for comment in answer.comment_set.all %}
                                            <a name="comment_{{ comment.id }}"></a>
                                            <div class="comment py-2 text-muted">
                                                <span style="white-space: pre-line;">{{ comment.content }}</span>
                                                <span>
                                                    - {{ comment.author }}, {{ comment.create_date }}
                                                    {% if comment.modify_date %}(수정:{{ comment.modify_date }}){% endif %}
                                                </span>
                                                {% if request.user == comment.author %}
                                                    <a href="{% url 'pybo:comment_modify_answer' comment.id  %}" class="small">수정</a>,
                                                    <a href="#" class="small delete" data-uri="{% url 'pybo:comment_delete_answer' comment.id  %}">삭제</a>
                                                {% endif %}
                                            </div>
                                        {% endfor %} {% endcomment %}
                                        <div class="row justify-content-between py-2 mx-0 my-3 bg-light">
                                            <div class="col-10 fs-5">
                                                <b>{{ answer.comment_set.count }}</b>개의 댓글이 있습니다.
                                            </div>
                                        </div>
                                        {% for comment in answer.comment_set.all %}
                                            <a name="comment_{{ comment.id }}"></a>
                                            <div class="py-2 mx-0 text-muted">
                                                <span style="white-space: pre-line;">{{ comment.content }}</span>
                                                <br>
                                                <div class="row border-bottom pb-1 mx-0 ">
                                                    <div class="col-lg-9 col-md-12">
                                                        <span class="fs-6">
                                                            {{ comment.author }}, {{ comment.create_date }}
                                                            {% if comment.modify_date %}
                                                                <span class="fw-light">
                                                                    (수정: {{ comment.modify_date }} /
                                                                    {{ comment.modify_count }}회 )
                                                                </span>
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-12 justify-content-end text-end">
                                                        {% if request.user == comment.author %}
                                                            <div class="btn-group">
                                                                <a href="{% url 'pybo:comment_modify_answer' comment.id  %}"
                                                                   class="btn btn-sm btn-outline-success">수정</a>
                                                                <a href="#"
                                                                   class="btn  btn-sm btn-outline-danger delete"
                                                                   data-uri="{% url 'pybo:comment_delete_answer' comment.id  %}">삭제</a>
                                                            </div>
                                                        {% endif %}
                                                        {% if request.user in comment.voter.all %}
                                                            <a href="#"
                                                               data-uri="{% url 'pybo:vote_delete_comment' comment.id  %}?type=answer"
                                                               class="recommend-del btn btn-sm btn-outline-secondary">추천 취소
                                                                <span class="badge text-bg-warning">{{ comment.voter.count }}</span></a>
                                                        {% else %}
                                                            <a href="#"
                                                               data-uri="{% url 'pybo:vote_create_comment' comment.id  %}?type=answer"
                                                               class="recommend-add btn btn-sm btn-outline-secondary">추천
                                                                <span class="badge text-bg-warning">{{ comment.voter.count }}</span></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div>
                                    <a href="{% url 'pybo:comment_create_answer' answer.id  %}"
                                       class="small"><small>댓글 추가 ..</small></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <form action="{% url 'pybo:answer_create' question.id %}"
                  method="post"
                  class="my-3">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <textarea {% if not user.is_authenticated %}disabled{% endif %}
                              name="content"
                              id="content"
                              class="form-control"
                              rows="10"></textarea>
                </div>
                <input type="submit" value="답변등록" class="btn btn-primary">
            </form>
        </div>
    {% endblock %}
    {% block script %}
        <script type='text/javascript'>
            $(document).ready(function() {
                $(".delete").on('click', function() {
                    if (confirm("정말로 삭제하시겠습니까?")) {
                        location.href = $(this).data('uri');
                    }
                });

                $(".recommend-add").on('click', function() {
                    if (confirm("정말로 추천하시겠습니까?")) {
                        location.href = $(this).data('uri');
                    }
                });

                $(".recommend-del").on('click', function() {
                    if (confirm("정말로 추천 취소 하시겠습니까?")) {
                        location.href = $(this).data('uri');
                    }
                });

                $(".cmtsort").on('change', function() {
                    let urlParams = new URLSearchParams();
                    urlParams.append("cmtsort", $(this).val());
                    urlParams.append("cmtpage", 1);

                    var newUrl = window.location.pathname + '?' + urlParams.toString();
                    window.location.href = newUrl;
                });

                $(".page-link").on('click', function() {
                    let urlParams = new URLSearchParams();
                    urlParams.append("cmtpage", $(this).data("cmtpage"));

                    var newUrl = window.location.pathname + '?' + urlParams.toString();
                    window.location.href = newUrl;
                });

                setTimeout(function() {
                    $('.alert').alert('close');
                }, 3000);

            });
        </script>
    {% endblock %}
